AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 100
IndentWidth: 2
InsertNewlineAtEOF: true
