Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  -hicpp-signed-bitwise,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  readability-*,
  -readability-identifier-length,

  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
